body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Set background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(./images/todo-background.avif);
    background-size: cover;
}

a {
    padding: 10px;
    margin: 10px;
}

.card {
    background-color: #dedddd; /* White background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    padding: 20px;
    width: 300px; /* Set width of the card */
}

.welcome h1 {
    margin-top: 0;
    text-align: center;
}

.welcome h4 {
    margin-top: 0;
    text-align: center;
}

.tasks {
    margin-bottom: 20px;
}

#taskInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
}

.btn {
    background-color: #4CAF50 !important; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049 !important; /* Darker green on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none; /* Remove border from last item */
}

button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
}

button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}